container = $(".commentable-#{@comment.commentable.class.name.downcase}-#{@comment.commentable.id}-container")
textarea = container.parents().first().find("textarea")
container.append("#{ j(render partial: 'comments/item', locals: { comment: @comment, hidden: false }) }")
textarea.first().val("")
textarea.hashtagsReset()