= yield(:backbone_view_data)
%script{ :type => 'text/javascript' }
  :plain
    var class_name = null;
    try{
      var class_name = #{backbone_view_class_name};
    } catch(error) {}
    $(document).ready(function() {
      new Application.Views.ApplicationView({
        view:       class_name,
        view_data:  { #{backbone_view_data} }
      });
    });