%form.navbar-form.pull-right
  = link_to new_user_session_path, class: "btn btn-default" do
    = t("buttons.login")
  = link_to new_user_registration_path, class: "btn btn-success" do
    = t("buttons.signup")

