%h2 Inviter un nouveau membre

= simple_form_for resource, :as => resource_name, :url => user_invitation_path(), :html => {:method => :post} do |f|
  = devise_error_messages!
  - resource.class.invite_key_fields.each do |field|
    = f.input field
  = f.submit "Inviter", class: "btn btn-large btn-success"