.post-item
  .col-md-1.col-sm-1.hidden-xs.post-meta
    = image_tag post.author.photo.thumb('50x50#').url
  .col-md-11.col-sm-11.col-xs-12.post-content
    %strong.post-author= post.author.display_name
    %br
    = linkify_hashtags(post.content, current_community)
  .clearfix