- if posts.any?
  .posts.col-md-12
    = render partial: "posts/list_inner", locals: { posts: posts }
  .clearfix
  = link_to 'Voir plus de publications', url_for(params.merge(:page => @posts.next_page)), :class => 'load-more-posts', :remote => true if @posts.next_page
- else
  .alert.alert-info
    Il n'y a aucune publication à afficher
