- if posts.any?
  .posts
    = render partial: "posts/list_inner", locals: { posts: posts }
  .clearfix
  = link_to 'Voir plus de publications', posts_path(:page => @posts.next_page), :class => 'load-more-posts', :remote => true if @posts.next_page
- else
  .alert.alert-info
    Il n'y a aucune publication à afficher