= angular_controller("PostIndexCtrl")
%ul
  %li{"ng-repeat" => "phone in phones"}
    {{phone.name}}
    %p
      {{phone.snippet}}
Nothing here {{'yet' + '!'}}
%h1= current_community.name
= render partial: "posts/new"
= render partial: "posts/list", locals: { posts: @posts }
