%p
  Bonjour #{@resource.email}!
%p Votre compte a été bloqué suite à un trop grand nombre de tentative de connexion.
%p Cliquez sur le lien ci-dessous pour débloquer votre compte:
%p= link_to 'Débloquer mon compte', unlock_url(@resource, :unlock_token => @token)
