- if communities.any?
  %ul
    - for community in communities
      = link_to community do
        %li= community.name
- else
  .alert.alert-info
    Vous n'appartenez actuellement à aucune communauté
= link_to new_community_path, class: "btn btn-success btn-lg" do
  %i.glyphicon.glyphicon-plus
  Créer une communauté