a.load-more-posts{
  margin-top: 200px;
  margin-bottom: 200px;
  background-image: url(asset-path("ajax-loader.gif"));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  display: block;
  text-indent: -9999em;
}
.posts{
  float: left;
  margin-bottom: 50px;
  a.thumbnail{
    img{
      height: 100px;
      width: 100px;
    }
  }
}

.publication-item{
  border-bottom: 1px solid #EEE;
  display: block;
  float: right;
  width: 100%;
}

.post-item{
  padding: 10px;
  .post-author,
  .post-content-inner{
    padding: 5px;
  }
  .post-meta{
    padding: 5px;
    display: block;
    background: #EFEFEF;
  }
}

.comment-item{

}

.comment-item.show-comments{
  padding-top: 0px !important
}

.post-comments{
  text-align: left !important;
  background: #EFEFEF;
  padding-top: 10px;
  border-top: 1px solid #DEDEDE;
  .comment-item{
    border-bottom: 1px solid #DEDEDE;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}
