$('.posts').append('#{escape_javascript(render partial: "posts/list_inner", :locals => { :posts => @posts })}');
$('a.load-more-posts').attr('href', '#{url_for(params.merge(:page => @posts.next_page))}');
$(document).trigger( "page:load" );
- unless @posts.next_page
  $('a.load-more-posts').remove();
